{#
    vim: ft=jinja
#}

{%- macro service(svc) %}
{{ svc.name }}:
  container_name: ap-{{ svc.name }}
  image: {{ svc.image }}
  platform: {{ svc.platform }}
  ports:
  {%- for port in svc.ports %}
    - {{ port }}
  {%- endfor %}
  volumes:
  {%- for vol in svc.volumes %}
    - {{ vol }}
  {%- endfor -%}
{%- endmacro -%}

name: ap

services:
{%- for svc in services -%}
{{ service(svc) | indent(2) }}
{%- endfor %}

volumes:
{%- for vol in volumes %}
  {{ vol }}:
{%- endfor %}
